html,body,#app{
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 1366px;
}

.el-breadcrumb{
    font-size: 15px;
    margin-bottom: 30px;
}

.el-card{
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1) !important;
}

.el-table{
    margin-top: 25px;
    font-size: 12px;
}

.el-pagination{
    margin-top: 15px;
}